<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="DAL.Properties.Settings.QLLDConnectionString" connectionString="Data Source=(LocalDB)\v11.0;AttachDbFilename=|DataDirectory|\QLLD.mdf;Integrated Security=True;Connect Timeout=30"
            providerName="System.Data.SqlClient" />
        <add name="DAL.Properties.Settings.QLLDConnectionString1" connectionString="Data Source=(LocalDB)\v11.0;AttachDbFilename=D:\PTUD\Nhom01_DeTai04_PTUD_13A_2019\DB\QLLD.mdf;Integrated Security=True;Connect Timeout=30"
            providerName="System.Data.SqlClient" />
        <add name="DAL.Properties.Settings.QuanLyLaoDongConnectionString"
            connectionString="Data Source=DESKTOP-PGNO1ME\SQLEXPRESS;Initial Catalog=QuanLyLaoDong;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="DAL.Properties.Settings.D__PTUD_NHOM01_DETAI04_PTUD_13A_2019_DB_QLLD_MDFConnectionString"
            connectionString="Data Source=DESKTOP-PGNO1ME\SQLEXPRESS;Initial Catalog=D:\PTUD\NHOM01_DETAI04_PTUD_13A_2019\DB\QLLD.MDF;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>